@model VersionClient.Models.Client
@{
    ViewData["Title"] = "Informações do Cliente";
}

<h2 align="center">@ViewData["Title"]</h2>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameClient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameClient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlLogin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlLogin)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdClient" class="btn btn-success">Editar</a>
    <a asp-action="Index" class="btn btn-info">Voltar</a>

</div>

@section Scripts {

}

