@model IEnumerable<VersionClient.Models.Client>
@{
    ViewData["Title"] = "Lista de Clientes";
}

<h2 align="center">@ViewData["Title"]</h2>




<table class="table">
    <thead align="center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlLogin)
            </th>
            <th>
                Versão
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody align="center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.NameClient)
                </td>

                <td>
                    @Html.DisplayFor(ModelItem => item.UrlLogin)
                </td>
                @{

                    var docVersion = new HtmlAgilityPack.HtmlWeb().Load(item.UrlLogin);
                    var version = docVersion.DocumentNode.Descendants().Where(d => d.Attributes.Contains("class") && d.Attributes["class"].Value.Contains("vmx-login-versao"));

                    foreach (var ver in version)
                    {
                        var versao = ver.InnerText;

                        <td>
                            @versao.Substring(8)
                        </td>

                    }
                }
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.IdClient" class="btn btn-info">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdClient" class="btn btn-warning">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdClient" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<p>
    <a asp-action="Create" class="btn btn-success">Cadastrar</a>
    @Html.DropDownList("ddl_tam_pg", (SelectList)ViewBag.ListaTamPag, new { @class = "selectpicker" })
</p>

@section Scripts {
    

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}